@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&display=swap");
/* Font features : 400, 500, 600, 700,900 // Italic */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("assets/background.jpg");
  background-size: cover;
  background-position: center;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 75px;
  margin: auto;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  background-color: #191919;
}

.logo {
  width: 120px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li ::after {
  content: " ";
  height: 3px;
  width: 0%;
  background-color: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.navbar ul li:hover ::after {
  width: 100%;
}

/* ========== Banner ========== */
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 150px;
}

.content p {
  margin: 20px auto;
  font-weight: 400;
  line-height: 25px;
}

.button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 250px;
}

span {
  background-color: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

.scroll__down {
  width: 100%;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
}

.scroll__down a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.scroll__down:hover a {
  color: #009688;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* ========= About/welcome ========= */
.about {
  display: flex;
  justify-content: space-between;
}
.about__container {
  width: 40%;
  position: relative;
  row-gap: 2rem;
  text-align: initial;
  padding: 20px;
}

.about__text {
  width: 100%;
}
.about__text h1 {
  font-size: 35px;
  color: #181818;
}

.about__text h4 {
  color: #686b6e;
}

.about__img {
  justify-self: initial;
}

.about__img img {
  width: 95%;
}
.about__side {
  width: 60%;
  padding: 20px;
}

.side__img img {
  width: 100%;
  height: auto;
  background-size: contain;
}

/* ========== Explore ========== */
.explore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.explore__container {
  width: 100%;
  text-align: center;
  padding: 20px;
  row-gap: 20px;
}

.explore__container h1 {
  font-size: 35px;
  color: #181818;
}

.explore__container h4 {
  color: #686b6e;
}
.explore__works {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.work__img img {
  width: 100%;
  background-color: #181818;
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  /* font-size: var(--normal-font-size);
  font-weight: var(--font-semi); */
  padding: 1rem;
  border-radius: 0.5rem;
  /* border: 1.5px solid var(--second-color); */
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #191919;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 250px;
}

.contact__button:hover span {
  width: 100%;
}

.contact__button:hover {
  border: none;
  color: #fff;
  transition: 0.3s;
}

/* ========== FOOTER ========== */
.footer {
  background-color: #686b6e;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.footer a {
  text-decoration: none;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
  text-decoration: none;
  color: #fff;
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
